<nav class="bg-secondary sticky top-0 z-50">
  <div class="mx-auto max-w-7xl px-2 sm:px-6 lg:px-8">
    <div class="relative flex h-16 items-center justify-between">
      <div class="flex flex-1 items-center justify-center sm:items-stretch sm:justify-start">
        <div class="flex flex-shrink-0 items-center">
          <img class="hidden h-8 w-auto lg:block" src="./assets/static/Logo.png" alt="Angel Vargas">
        </div>
        <div class="hidden sm:ml-6 sm:block">
          <div class="flex space-x-4">
            <a href="#" class="text-font-color px-3 py-2 rounded-md text-sm font-medium">{{ 'About me' | translate}}</a>
            <a href="#my-projects" class="text-font-color px-3 py-2 rounded-md text-sm font-medium">{{ 'My projects' | translate }}</a>
            <a href="#contact" class="text-font-color px-3 py-2 rounded-md text-sm font-medium">{{ 'Contact' | translate}}</a>
          </div>
          <div class="absolute top-0 right-0 h-16 w-16 ...">
            <button class="text-font-color px-3 py-2 rounded-md text-sm font-medium"
            (click)="changeAppLanguage()"
            >
              {{ translate? 'English' : 'Spanish' }}
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>
