<div class="bg-secondary">
  <div class="container mx-auto">
    <div class="flex flex-col items-center justify-between border-t border-complementary py-10 sm:flex-row sm:py-12">
      <div class="mr-auto flex flex-col items-center sm:flex-row">
        <p class="pt-5 font-body font-light text-font-color sm:pt-0">
          ©2022 Ángel Vargas.
        </p>
      </div>

      <div class="mr-auto flex items-center pt-5 sm:mr-0 sm:pt-0">

        <a href="https://www.github.com/angelvargass " target="_blank">
          <img class="h-10 w-10 mr-5" src="/assets/static/icon-github.png" alt="github logo" />
        </a>

        <a href="https://www.linkedin.com/in/angel-vargass/ " target="_blank">
          <img class="h-10 w-10 mr-5" src="/assets/static/icon-linkedin.png" alt="linkedin logo" />
        </a>

      </div>
    </div>
  </div>

</div>
