<div class="container py-16 md:py-20" id="contact">
  <h2
    class="text-center font-header text-4xl font-semibold text-font-color sm:text-5xl lg:text-6xl"
  >
    {{ 'Contact me' | translate }}
  </h2>
  <form class="mx-auto w-full pt-10 sm:w-3/4">
    <div class="flex flex-col md:flex-row">
      <input
        class="mr-3 w-full rounded border-grey-50 px-4 py-3 font-body text-black md:w-1/2 lg:mr-5"
        placeholder="{{ 'Full name' | translate }}"
        type="text"
      />
      <input
        class="mt-6 w-full rounded border-grey-50 px-4 py-3 font-body text-black md:mt-0 md:ml-3 md:w-1/2 lg:ml-5"
        placeholder="Email"
        type="text"
      />
    </div>
    <textarea
      class="mt-6 w-full rounded border-grey-50 px-4 py-3 font-body text-black md:mt-8"
      placeholder="{{ 'Message' | translate}}"
      cols="10"
      rows="5"
    ></textarea>
    <button
      class="mt-5 block bg-primary border border-complementary  px-5 py-3 text-center font-body text-xl font-semibold text-complementary transition-colors hover:bg-green sm:inline-block sm:text-left sm:text-2xl"
    >
      {{ 'Send' | translate }}
    </button>
  </form>



</div>
