<div class="bg-primary">
  <div>
    <div class="container mx-auto">
      <div class="border-b border-complementary py-16 lg:py-20">
        <h1 class="pt-3 font-body text-4xl font-semibold text-complementary md:text-5xl lg:text-6xl">
          {{'Hi, I’m Ángel Vargas.' | translate}}
        </h1>
        <p class="pt-3 font-body text-xl font-light text-font-color">
          {{"I'm a software developer" | translate}}
        </p>
        <p class="pt-3 font-body text-xl font-light text-font-color">
          {{ 'I specialize in back-end technologies like NodeJS, Java and .NET' | translate }}
        </p>
        <a href="/"
           class="mt-12 block bg-primary border border-complementary  px-10 py-4 text-center font-body text-xl font-semibold text-complementary transition-colors hover:bg-green sm:inline-block sm:text-left sm:text-2xl">
          {{ 'Check out my projects' | translate }}
        </a>
      </div>
    </div>
  </div>
</div>
