<div class="pb-16 lg:pb-20 mt-10 container mx-auto" id="my-projects">
  <div class="flex items-center pb-6">
    <img src="/assets/static/icon-project.png" alt="icon story"/>
    <h3 class="ml-3 font-body text-2xl font-semibold text-font-color">
      {{ 'My Projects' | translate }}
    </h3>
  </div>
  <div>

    <a href="https://github.com/angelvargass/Emall" target="_blank"
       class="bg-secondary mb-6 flex items-center justify-between border border-complementary px-4 py-4 sm:px-6">
              <span class="w-9/10 pr-8">
                <h4 class="font-body text-lg font-semibold text-font-color">
                  Emall
                </h4>

                <p class="font-body text-lg font-semibold text-font-color">
                  {{ 'Web application in which businesses affected by the pandemic can sell their products and services online' | translate }}
                </p>

                <div class="flex flex-shrink-0 items-center">
                  <img class="hidden h-20 w-auto lg:block" src="./assets/static/emall.png" alt="Angel Vargas">
                </div>
              </span>
      <span class="w-1/10">
                <img src="/assets/static/chevron-right.png" class="mx-auto" alt="chevron right"/>
              </span>
    </a>

    <a href="https://github.com/angelvargass/spring-boot-bisoft-15" target="_blank"
       class="bg-secondary mb-6 flex items-center justify-between border border-complementary px-4 py-4 sm:px-6">
              <span class="w-9/10 pr-8">
                <h4 class="font-body text-lg font-semibold text-font-color">
                  Movie database
                </h4>
                <p class="font-body text-lg font-semibold text-font-color">
                  {{ 'CRUD Movies backend. Full serverless, cloud native application with CI/CD pipelines' }}
                </p>

                <div class="flex flex-shrink-0 items-center">
                  <img class="hidden h-20 w-auto lg:block" src="./assets/static/docker.png" alt="Angel Vargas">
                </div>
              </span>
      <span class="w-1/10">
                <img src="/assets/static/chevron-right.png" class="mx-auto" alt="chevron right"/>
              </span>
    </a>

    <a href="https://github.com/angelvargass/portfolio" target="_blank"
       class="bg-secondary mb-6 flex items-center justify-between border border-complementary px-4 py-4 sm:px-6">
              <span class="w-9/10 pr-8">
                <h4 class="font-body text-lg font-semibold text-font-color">
                  Portfolio
                </h4>
                <p class="font-body text-lg font-semibold text-font-color">
                  {{ 'Personal portfolio, to show potential employers about my skills' }}
                </p>

                <div class="flex flex-shrink-0 items-center">
                  <img class="hidden h-20 w-auto lg:block" src="./assets/static/Logo.png" alt="Angel Vargas">
                </div>

              </span>
      <span class="w-1/10">
                <img src="/assets/static/chevron-right.png" class="mx-auto" alt="chevron right"/>
              </span>
    </a>
  </div>
</div>
