<div class="flex flex-col pt-16 lg:flex-row">
  <div
    class="w-full border-l-2 border-t-2 border-r-2 border-b-2 border-complementary px-6 py-6 sm:py-8 lg:w-1/3"
  >
    <div class="flex items-center">
      <p class="pl-2 font-body font-bold text-font-color lg:text-lg">
        Email
      </p>
    </div>
    <p class="pt-2 text-left font-body font-bold text-font-color lg:text-lg">
      angelvargaspersonal@gmail.com
    </p>
  </div>

  <div
    class="w-full border-l-2 border-t-0 border-r-2 border-b-2 border-complementary px-6 py-6 sm:py-8 lg:w-1/3 lg:border-l-0 lg:border-t-2"
  >
    <div class="flex items-center">
      <p class="pl-2 font-body font-bold text-font-color lg:text-lg">
        {{ 'My Phone' | translate }}
      </p>
    </div>
    <p class="pt-2 text-left font-body font-bold text-font-color lg:text-lg">
      (+506) 8410-7266
    </p>
  </div>


  <div
    class="w-full border-l-2 border-t-0 border-r-2 border-b-2 border-complementary px-6 py-6 sm:py-8 lg:w-1/3 lg:border-l-0 lg:border-t-2"
  >
    <div class="flex items-center">
      <p class="pl-2 font-body font-bold text-font-color lg:text-lg">
        {{ 'My Address' | translate }}
      </p>
    </div>
    <p class="pt-2 text-left font-body font-bold text-font-color lg:text-lg">
      Cartago, Costa Rica
    </p>
  </div>
</div>
